body.dark {
  --color-background: #1e1e1e;
  --color-surface: #2c2c2c;
  --color-text: #f0f0f0;
  --color-muted: #999;
  --color-border: #444;

  --color-primary: #ff7849;
  --color-primary-dark: #d95f36;
}
